@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

html {
    background-color: var(--secondary-color);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #474747;
    min-height: 100vh;
    margin: 0;
}

/* Header */

header {
    position: fixed;
    min-width: 100%;
    z-index: 100;
    font-family: var(--header-font);
    top: 0;
}

header img {
    max-width: 100%;
}

#mainHeader {
    text-align: center;
    background-color: var(--secondary-color);
    border-bottom: 5px var(--primary-color) solid;
    box-shadow: 0px 3px 5px #2b2b2b;
    
    width: 100%;
    height: 100%;
}

#headerLinkHolder {
    margin: 10px 20px;
}

.headerLink {
    padding: 5px;
}

/* Header Links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #D5573B;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--paragraph-font);
    flex-grow: 1;
    margin: 200px 0 0 0;
}

#content {
    color: white;
    width: 50%;
    text-align: left;
}

.contentGroup {
    margin-top: 50px;
}

.contentP {
    text-indent: 1em;
}

/* Search Box */

#searchArea {
    color: white;
    text-align: center;
    margin-bottom: 150px;
}

#searchBoxLabel {
    display: block;
    margin: 50px 0 10px 0;
}

#searchBox {
    width: 225px;
    height: 20px;
    font-size: medium;
}

#searchButton {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 11px;
    height: 25px;
    width: 45px;
}

#searchButton:hover {
    background-color: #D5573B;
}

/* Cards Section */

#extremeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* margin-bottom: 150px; */
}

#extremeTabHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
    color: black;
}

.extremeTab {
    width: 450px;
    height: 300px;
    margin: 5px;
    border: 3px solid #707070;
    box-shadow: 5px 5px 8px #2b2b2b;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
}

#conditionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 150px;
}

#conditionsBoxHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
}

.conditionBox {
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 3px solid #707070;
    box-shadow: 5px 5px 8px #2b2b2b;
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 50px;
}

#conditionsTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 1fr;
    gap: 5px;
    text-align: center;
    color: black;
}

#conditionDetails {
    grid-column: 1/3;
}

#windDetails {
    grid-column: 1/3;
}

/* Footer */

footer {
    font-family: var(--paragraph-font);
    color: white;
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 100;
    min-width: 100%;
    bottom: 0;
}

#footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 0 20px;
}

#versionText{
    justify-self: end;
    margin-right: 20px;
}

/* Variables */

:root {
    --header-font: 'Lexend';
    --paragraph-font: 'Funnel Sans';

    --primary-color: #0873EE;
    --secondary-color: #0F0A15;
}

@media screen and (min-width: 900px){
    #extremeTabHolder {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}