@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

html {
    background-color: var(--secondary-color);
}

body {
    background-color: #474747;
    margin: 0;
}

/* Header */

header {
    font-family: var(--header-font);
    margin-bottom: 100px;
}

#mainHeader {
    text-align: center;
    background-color: var(--secondary-color);
    border-bottom: 5px var(--primary-color) solid;
    width: 100%;
}

#headerLinkHolder {
    margin: 10px 20px;
}

.headerLink {
    padding: 5px;
}

/* Header Links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #D5573B;
}

/* Main */

main {
    font-family: var(--paragraph-font);
    height: 990px;
}

/* Search Box */

#searchArea {
    color: white;
    text-align: center;
    margin-bottom: 150px;
}

#searchBoxLabel {
    display: block;
    margin: 50px 0 10px 0;
}

#searchBox {
    width: 225px;
    height: 20px;
    font-size: medium;
}

#searchButton {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 11px;
    height: 25px;
    width: 45px;
}

#searchButton:hover {
    background-color: #D5573B;
}

/* Current Extremes Section */

#extremeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 150px;
}

#extremeTabHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
    color: black;
}

.extremeTab {
    width: 450px;
    height: 300px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
}

/* Footer */

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: var(--paragraph-font);
    color: white;
    background-color: var(--secondary-color);
}

#footerContent {
    margin: 0 0 0 20px;
}

/* Variables */

:root {
    --header-font: 'Lexend';
    --paragraph-font: 'Funnel Sans';

    --primary-color: #0873EE;
    --secondary-color: #0F0A15;
}

@media screen and (min-width: 900px){
    #extremeTabHolder {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}